@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font: 'Josefin Sans';
  --white: #ffffff;
  --input-colour: #9495a5;
  --checkbox-stroke-light: #e3e4f1;
  --h1-size: 20px;
  --ml: 26px;
  --mr: 26px;
}

.light-mode {
  --background: #fafafa;
  --body-text-colour: #494c6b;
  --section-background: #ffffff;
  --li-border-bottom: #e3e4f1;
  --completed-text-colour: #d1d2da;
  --footer-text-color: #9495a5;
  --item-hover-colour: #494c6b;
  --checkmark-hover-background: #hsl(0, 0%, 98%);
  --background-image-mobile: url(./images/bg-mobile-light.jpg);
  --background-image-desktop: url(./images/bg-desktop-light.jpg);
  --light-switch: url(./images/icon-moon.svg);
}

.dark-mode {
  --background: #171823;
  --body-text-colour: #c8cbe7;
  --section-background: #25273d;
  --li-border-bottom: #393a4b;
  --completed-text-colour: #4d5067;
  --footer-text-color: #5b5e7e;
  --item-hover-colour: #e3e4f1;
  --checkmark-hover-background: #hsl(0, 0%, 98%);
  --background-image-mobile: url(./images/bg-mobile-dark.jpg);
  --background-image-desktop: url(./images/bg-desktop-dark.jpg);
  --light-switch: url(./images/icon-sun.svg);
}

body {
  background: var(--background);
  font-family: var(--font);
  font-size: 13px;
  font-weight: 400;
}

.container {
  margin: 0 auto 0 auto;
  min-width: 365px;
}

header {
  height: 200px;
  background-image: var(--background-image-mobile);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-content-center {
  align-content: center;
  align-items: center;
}

.header-top {
  padding-top: 48px;
  padding-left: var(--ml);
  justify-content: space-between;
}

h1 {
  color: var(--white);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 6px;
}

.header-top #theme-toggler {
  display: none;
}

.header-top #theme-toggler + label::before {
  content: '';
  background: var(--light-switch);
  display: block;
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin-right: var(--mr);
}

.header-top #theme-toggler:checked + label::before {
  background: var(--light-switch);
}

form {
  min-width: inherit;
  height: 48px;
  background: var(--section-background);
  border-radius: 4px;
  padding-left: 20px;
  margin-top: 40px;
  margin-left: var(--ml);
  margin-right: var(--mr);
}

.form-wrapper {
  padding-top: 14px;
}

input {
  margin-left: 15px;
  border: none;
  background: transparent;
  color: var(--body-text-colour);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input::placeholder {
  background: transparent;
  font-size: 12px;
  font-family: var(--font);
  line-height: 12px;
  /* color: var(--input-colour); */
  letter-spacing: 0.17;
}

/* Section */
section {
  position: relative;
}

.list-wrapper {
  min-width: inherit;
  border-radius: 4px;
  margin-top: -26px;
  margin-left: var(--ml);
  margin-right: var(--mr);
}

ul,
.item-wrapper-one,
.item-wrapper-two {
  background: var(--section-background);
}

ul {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

ul li {
  height: 52px;
  color: var(--body-text-colour);
  border-bottom: 2px solid var(--li-border-bottom);
  position: relative;
}

.list-item {
  justify-content: space-between;
}

.list-item-wrapper-left {
  margin-left: 20px;
}

ul li input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}

ul li label {
  position: relative;
  cursor: pointer;
  padding: 2px 0 0 36px;
}

.checkmark {
  position: absolute;
  top: -5px;
  left: 0;
  height: 22px;
  width: 22px;
}

/* Only applied when user chooses an option from 'all', 'active' or 'completed' */
ul li.hidden {
  display: none;
}

ul li input[type='checkbox'] ~ .checkmark {
  border: 1px solid var(--checkbox-stroke-light);
  border-radius: 50%;
}

ul li input[type='checkbox'] ~ .checkmark:hover {
  border: 0;
  padding: 1px;
  background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

ul li input[type='checkbox'] ~ .checkmark:hover::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--section-background);
  display: block;
}

ul li input[type='checkbox']:checked ~ .checkmark {
  background: center url(./images/icon-check.svg) no-repeat,
    linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

ul li input[type='checkbox']:checked ~ .text {
  color: var(--completed-text-colour);
  text-decoration: line-through;
}

.cross-icon {
  background: url(./images/icon-cross.svg) no-repeat;
  width: 18px;
  height: 18px;
  display: none;
  cursor: pointer;
  margin-right: 20px;
}

ul li:hover .cross-icon {
  display: block;
}

li > div > p {
  margin-left: 12px;
}

.item-wrapper-one {
  cursor: pointer;
  height: 52px;
  color: var(--input-colour);
  justify-content: space-between;
  padding-left: 20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.item-wrapper-one > p:first-child {
  cursor: default;
}

.item-wrapper-one > p:last-child:hover {
  color: var(--item-hover-colour);
}

.item-wrapper-one p:last-child {
  padding-right: 20px;
}

.item-wrapper-two {
  height: 52px;
  margin-top: 20px;
  border-radius: 4px;
  justify-content: center;
}

.item-wrapper-two p {
  cursor: pointer;
  font-size: 14px;
  color: var(--input-colour);
  font-weight: 600;
  padding-right: 20px;
}

.item-wrapper-two > p:hover {
  color: var(--item-hover-colour);
}

.item-wrapper-two > p:visited {
  color: var(--item-hover-colour);
}

.item-wrapper-two p:last-child {
  padding-right: 0;
}

.desktop-item-options {
  display: none;
}

.desktop-item-options p:hover {
  cursor: pointer;
  color: var(--body-text-colour);
}

.desktop-item-options .items-left:hover {
  cursor: default;
  color: var(--input-colour);
}

.footer {
  color: var(--input-colour);
  text-align: center;
  margin-top: 30px;
}

@media screen and (min-width: 576px) {
  header {
    background-image: var(--background-image-mobile);
  }

  .header-container,
  section {
    margin: 0 auto;
    max-width: 576px;
  }

  .mobile-item-options {
    display: none;
  }

  .desktop-item-options {
    display: flex;
    background: var(--section-background);
    height: 52px;
    color: var(--input-colour);
    justify-content: space-between;
    padding-left: 20px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .item-wrapper-one > p:first-child {
    cursor: default;
  }

  .items-left:hover {
    cursor: default;
  }

  .item-state p {
    margin-right: 15px;
    font-size: 14px;
    font-weight: 600;
  }

  .item-state p:last-child {
    margin: 0;
  }

  .clearCompletedDesktop {
    margin-right: var(--mr);
  }
}
